$translateSize: calc(100%/-3)

@mixin centerer
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

*
    margin: 0
    padding: 0 
    overflow: hidden
    box-sizing: border-box

    body
        height: 100vh
        font-family: Demon Slayer
        background: url(../img/background.jpg) no-repeat center /cover
        
    .fullbody
        display: grid
        place-items: center 
        height: 100%
        width: 100%

    .header
        width: 38em
        height: 38em
        display: grid
        place-items: center
        transition: all 3s ease-in-out
        border-radius: 50%
        padding: 5em

        &:hover
            transform: rotate(360deg) scale(1.5)
            filter: drop-shadow(0 0 0.75rem yellow)
            cursor: pointer

    #DS-logo
        width: 400px
        height: 400px
        grid-column: 1
        grid-row: 1

    h1
        color: white
        font-size: 6em
        grid-column: 1
        grid-row: 1

    #canvas
        border-radius: 12px
        background: url('../img/canvas-background.jpg') no-repeat center /cover

    .game-frame-two
        width: max-content
        height: max-content

    .character
        display: inline-block
        width: 400px
        padding: 3em
        transition: all 1s ease-in-out
        margin-left: 1em
        filter: grayscale(100%)

        &:hover
            transform: scale(1.25)
            cursor: pointer
            filter: none

    h2
        text-align: center
        font-size: 4em
        color: white

    .confirm
        text-align: center
        font-size: 2em
        margin-bottom: 1em

    .blink_me
        animation: blinker 1s linear infinite
        font-size: 3em
        text-align: center
        background-color: white
        border-radius: 12px
        padding: 10px
        top: 20em
        width: 60%
        margin-top: 10px
        margin-left: 29%

    .swords_left
        font-size: 4em

    .sword_life
        position: absolute
        height: 40px
        margin-left: 3em

    .sword_life_two
        width: 17px

    .info
        display: inline-block
        height: 750px
        width: max-content

    .legend
        font-size: 4em
        top: 40%

    .timer
        font-size: 4em
        margin-top: 5.2em

    .info_two
        display: inline-block
        height: 700px
        width: max-content

    .demonImg
        width: 130px
        display: inline-block

    .demonImg:nth-of-type(1)
        margin-top: 2em

    .demon_legend
        position: absolute

    #remTime
        margin-left: .3em
        animation: blinker 1s linear infinite
        background-color: transparent
        color: blue

    .swal2-popup
        font-size: 2rem !important
        font-family: Demon Slayer

        @keyframes blinker
            50%
                opacity: 0

    .info_menu
        position: fixed
        bottom: 2em
        right: 4em
        width: max-content
        height: min-content

    .menu
        display: flex
        width: 5em
        height: 5em
        border-radius: 50%
        margin-bottom: 1em
        margin-top: 2em
        background: white
        cursor: pointer
        justify-content: center
        align-items: center
        transition: 2s ease-out 

        &:hover
            background: #500003
            animation: 5s ease-in-out 

    #mute, #volume, #credits, #comment
        width: 60%
        height: 60%
